{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Specification",
    "version": "1.0.0",
    "description": "OpenAPI spec for the Light Phone dashboard."
  },
  "servers": [
    {
      "url": "https://production.lightphonecloud.com"
    }
  ],
  "paths": {
    "/api/authorizations": {
      "post": {
        "summary": "Authenticate and get bearer token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            },
                            "given_name": {
                              "type": "string"
                            },
                            "family_name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "token": {
                                "type": "string"
                              },
                              "max_age": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/audios/delete_all": {
      "post": {
        "summary": "Delete all audio tracks",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_tool_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "device_tool_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All audios deleted"
          }
        }
      }
    },
    "/api/users/current": {
      "get": {
        "summary": "Get current user",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            },
                            "family_name": {
                              "type": "string"
                            },
                            "given_name": {
                              "type": "string"
                            },
                            "phone_contact": {
                              "type": "null"
                            },
                            "roles": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "required": [
                            "email",
                            "family_name",
                            "given_name",
                            "phone_contact",
                            "roles"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "affiliate": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "data"
                              ]
                            },
                            "subscriptions": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "required": [
                                "data"
                              ]
                            }
                          },
                          "required": [
                            "affiliate",
                            "subscriptions"
                          ]
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "attributes",
                        "id",
                        "relationships",
                        "type"
                      ]
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/devices": {
      "get": {
        "summary": "List devices",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "imei": {
                                "type": "string"
                              },
                              "light_os_version_name": {
                                "type": "string"
                              },
                              "serial_number": {
                                "type": "string"
                              },
                              "sku": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "imei",
                              "light_os_version_name",
                              "serial_number",
                              "sku"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "device_tool_location": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "device_tools": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "type"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "sim": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "nullable": true,
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "user": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "device_tool_location",
                              "device_tools",
                              "sim",
                              "user"
                            ]
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "relationships",
                          "type"
                        ]
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "awaiting_migration": {
                                    "type": "boolean"
                                  },
                                  "device_tool_location_created": {
                                    "type": "boolean"
                                  },
                                  "address": {
                                    "type": "object",
                                    "properties": {
                                      "city": {
                                        "type": "string"
                                      },
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "countryName": {
                                        "type": "string"
                                      },
                                      "county": {
                                        "type": "string"
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "string"
                                      },
                                      "state": {
                                        "type": "string"
                                      },
                                      "stateCode": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "city",
                                      "countryCode",
                                      "countryName",
                                      "county",
                                      "label",
                                      "postalCode",
                                      "state",
                                      "stateCode"
                                    ]
                                  },
                                  "latitude": {
                                    "type": "number"
                                  },
                                  "longitude": {
                                    "type": "number"
                                  }
                                }
                              },
                              "deleted_at": {
                                "type": "null"
                              },
                              "device_id": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              },
                              "iccid": {
                                "type": "string"
                              },
                              "phone_number": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "device": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "tool": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "user": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "device"
                            ]
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "included",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/tools/{tool_id}": {
      "get": {
        "summary": "Get tool by ID",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "component": {
                              "type": "string"
                            },
                            "min_apk_version": {
                              "type": "integer"
                            },
                            "namespace": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "component",
                            "min_apk_version",
                            "namespace",
                            "status",
                            "title"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "attributes",
                        "id",
                        "type"
                      ]
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/tools": {
      "get": {
        "summary": "List tools",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "component": {
                                "type": "string"
                              },
                              "min_apk_version": {
                                "type": "integer"
                              },
                              "namespace": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "component",
                              "min_apk_version",
                              "namespace",
                              "status",
                              "title"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/audio_capacity": {
      "get": {
        "summary": "Get audio storage capacity",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "processing_count": {
                      "type": "integer"
                    },
                    "failed_count": {
                      "type": "integer"
                    },
                    "remaining_capacity": {
                      "type": "integer"
                    },
                    "total_capacity": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "processing_count",
                    "failed_count",
                    "remaining_capacity",
                    "total_capacity"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "device_tool_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/audios": {
      "post": {
        "summary": "Create audio record",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "201": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "processed_file": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "data"
                              ]
                            },
                            "raw_file": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              },
                              "required": [
                                "data"
                              ]
                            }
                          },
                          "required": [
                            "processed_file",
                            "raw_file"
                          ]
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "relationships",
                        "type"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "bucket": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "null"
                              },
                              "key": {
                                "type": "string"
                              },
                              "presigned_url": {
                                "type": "string"
                              },
                              "secret": {
                                "type": "null"
                              },
                              "uploaded_at": {
                                "type": "null"
                              }
                            },
                            "required": [
                              "bucket",
                              "content_type",
                              "key",
                              "presigned_url",
                              "secret",
                              "uploaded_at"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "included",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "audios"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "filename",
                          "device_tool_id"
                        ],
                        "properties": {
                          "filename": {
                            "type": "string"
                          },
                          "device_tool_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/playlists": {
      "get": {
        "summary": "List playlists",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "device_tool_id": {
                                "type": "string"
                              },
                              "is_system_playlist": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "sort_mode": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "device_tool_id",
                              "is_system_playlist",
                              "name",
                              "sort_mode",
                              "updated_at",
                              "user_id"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "device_tool": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "playlist_items": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "related"
                                    ]
                                  }
                                },
                                "required": [
                                  "links"
                                ]
                              },
                              "user": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "device_tool",
                              "playlist_items",
                              "user"
                            ]
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "relationships",
                          "type"
                        ]
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "family_name": {
                                "type": "string"
                              },
                              "given_name": {
                                "type": "string"
                              },
                              "phone_contact": {
                                "type": "null"
                              },
                              "roles": {
                                "type": "array",
                                "items": {}
                              },
                              "config": {
                                "type": "object"
                              },
                              "deleted_at": {
                                "type": "null"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "device": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "tool": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "device",
                              "tool"
                            ]
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "included",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "device_tool_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/playlist_items": {
      "get": {
        "summary": "List playlist items",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "audio_id": {
                                "type": "string"
                              },
                              "playlist_id": {
                                "type": "string"
                              },
                              "position": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "audio_id",
                              "playlist_id",
                              "position"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "audio": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "audio"
                            ]
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "relationships",
                          "type"
                        ]
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "bucket": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "presigned_url": {
                                "type": [
                                  "null",
                                  "string"
                                ]
                              },
                              "secret": {
                                "type": "null"
                              },
                              "uploaded_at": {
                                "type": "string"
                              },
                              "album": {
                                "type": "string"
                              },
                              "artist": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "integer"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "processed_file": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "raw_file": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "processed_file",
                              "raw_file"
                            ]
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "playlist_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_tool_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/playlist_items/{playlist_item_id}": {
      "patch": {
        "summary": "Update playlist item position",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "album": {
                              "type": "null"
                            },
                            "artist": {
                              "type": "null"
                            },
                            "duration": {
                              "type": "null"
                            },
                            "title": {
                              "type": "null"
                            }
                          },
                          "required": [
                            "album",
                            "artist",
                            "duration",
                            "title"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "processed_file": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "data"
                              ]
                            },
                            "raw_file": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "data"
                              ]
                            }
                          },
                          "required": [
                            "processed_file",
                            "raw_file"
                          ]
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "attributes",
                        "id",
                        "relationships",
                        "type"
                      ]
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "playlist_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "playlist_items"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "position"
                        ],
                        "properties": {
                          "position": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/audios/{audio_id}": {
      "patch": {
        "summary": "Update audio metadata",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "album": {
                              "type": "string"
                            },
                            "artist": {
                              "type": "string"
                            },
                            "duration": {
                              "type": "integer"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "album",
                            "artist",
                            "duration",
                            "title"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "processed_file": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              },
                              "required": [
                                "data"
                              ]
                            },
                            "raw_file": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              },
                              "required": [
                                "data"
                              ]
                            }
                          },
                          "required": [
                            "processed_file",
                            "raw_file"
                          ]
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "attributes",
                        "id",
                        "relationships",
                        "type"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "bucket": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "presigned_url": {
                                "type": "string"
                              },
                              "secret": {
                                "type": "null"
                              },
                              "uploaded_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "bucket",
                              "content_type",
                              "key",
                              "presigned_url",
                              "secret",
                              "uploaded_at"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "included",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "playlist_items"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "artist": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "summary": "Delete audio by ID",
        "description": "**Host**: http://production.lightphonecloud.com",
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Audio ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Audio deleted successfully"
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/followed_podcasts": {
      "get": {
        "summary": "List followed podcasts",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "device_tool_id": {
                                "type": "string"
                              },
                              "podcast_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "device_tool_id",
                              "podcast_id"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "device_tool": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "podcast": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "device_tool",
                              "podcast"
                            ]
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "relationships",
                          "type"
                        ]
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": [
                                  "null",
                                  "string"
                                ]
                              },
                              "itunes_id": {
                                "type": [
                                  "null",
                                  "string"
                                ]
                              },
                              "publisher": {
                                "type": "string"
                              },
                              "rss_feed_url": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "config": {
                                "type": "object"
                              },
                              "deleted_at": {
                                "type": "null"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "device": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "tool": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "device",
                              "tool"
                            ]
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "included",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "device_tool_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Follow a podcast",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "201": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "device_tool_id": {
                              "type": "string"
                            },
                            "podcast_id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "device_tool_id",
                            "podcast_id"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "device_tool": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              },
                              "required": [
                                "data"
                              ]
                            },
                            "podcast": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              },
                              "required": [
                                "data"
                              ]
                            }
                          },
                          "required": [
                            "device_tool",
                            "podcast"
                          ]
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "attributes",
                        "id",
                        "relationships",
                        "type"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": [
                                  "null",
                                  "string"
                                ]
                              },
                              "itunes_id": {
                                "type": [
                                  "null",
                                  "string"
                                ]
                              },
                              "publisher": {
                                "type": "string"
                              },
                              "rss_feed_url": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "config": {
                                "type": "object"
                              },
                              "deleted_at": {
                                "type": "null"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "device": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              },
                              "tool": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  }
                                },
                                "required": [
                                  "data"
                                ]
                              }
                            },
                            "required": [
                              "device",
                              "tool"
                            ]
                          }
                        },
                        "required": [
                          "attributes",
                          "id",
                          "type"
                        ]
                      }
                    },
                    "jsonapi": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "included",
                    "jsonapi"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "X-Firefox-Spdy": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "relationships"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "followed_podcasts"
                        ]
                      },
                      "relationships": {
                        "type": "object",
                        "required": [
                          "device_tool",
                          "podcast"
                        ],
                        "properties": {
                          "device_tool": {
                            "type": "object",
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "object",
                                "required": [
                                  "type",
                                  "id"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "device_tools"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "podcast": {
                            "type": "object",
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "object",
                                "required": [
                                  "type",
                                  "id"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "podcasts"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/notes": {
      "post": {
        "summary": "Create a note",
        "description": "**Host**: http://production.lightphonecloud.com",
        "responses": {
          "201": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "device_tool_id": {
                              "type": "string"
                            },
                            "file_id": {
                              "type": "string"
                            },
                            "note_type": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "device_tool_id",
                            "file_id",
                            "note_type",
                            "title",
                            "updated_at"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              },
                              "required": [
                                "data"
                              ]
                            }
                          },
                          "required": [
                            "file"
                          ]
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "attributes",
                        "id",
                        "relationships",
                        "type"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "bucket": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "null"
                              },
                              "key": {
                                "type": "string"
                              },
                              "presigned_url": {
                                "type": "string"
                              },
                              "secret": {
                                "type": "null"
                              },
                              "uploaded_at": {
                                "type": "null"
                              }
                            },
                            "required": [
                              "bucket",
                              "content_type",
[...]
